.education-card {
  background-color: white;
  font-size: 16px;
  margin: 0 10px 25px;
  width: 30%;
}

.header {
  font-family: 'Steiner';
  margin: 10px 0;
}

ul, .body {
  font-family: 'Electro';
  font-size: 13px;

  li {
    text-align: left;
  }
}