.career {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 50px 50px;

  @media(max-width: 1000px) {
    flex-wrap: wrap;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.details {
  color: white;
  width: 450px;

  @media(max-width: 525px) {
    width: 350px;
  }

  @media(max-width: 400px) {
    width: 250px;
  }
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.dates {
  margin-top: 0;
}
