.career {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 50px 50px;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.details {
  color: white;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.dates {
  margin-top: 0;
}
